{% extends 'base.html' %}

{% block title %}
<div class="MainContainer" >
    <main role="main" class="inner cover d-flex align-items-center justify-content-center h-100" > <!-- Added utility classes for centering -->
        <div class="text-center">
            <h1 class="cover-heading">Welcome to Bully Detective.</h1>
            <br>
            <p class="lead">Welcome to our Bully Identification Website, where we empower individuals to recognize, address, and combat bullying in all its forms. In a world where kindness and empathy are paramount, we strive to provide you with the tools and knowledge to identify and understand bullying behaviors. By fostering a community that stands against bullying, we aim to create a safe and supportive environment for everyone. Together, let's raise awareness, promote understanding, and take a collective stand against bullying. Your journey towards a bully-free world begins here, as we work hand in hand to cultivate compassion, resilience, and a culture of inclusivity.</p>
        </div>
    </main>
</div>
{% endblock %}
